[submodule "third_party/parakeet.cpp"]
	path = third_party/parakeet.cpp
	url = https://github.com/mudler/parakeet.cpp
[submodule "third_party/qwentts.cpp"]
	path = third_party/qwentts.cpp
	url = https://github.com/ServeurpersoCom/qwentts.cpp
